[spring oauth2] OAuth 2.0 Resource Server

# OAuth 2.0 Resource Server
+ OAuth 2.0 인가 프레임워크의 역할 중 클라이언트 및 인가서버와의 통신을 담당하는 리소스 서버의 기능을 필터 기반으로 구현한 모듈
+ OAuth2ResourceServer
    - 클라이언트의 접근을 제한하는 인가 정책을 설정한다.
    - 인가서버에서 발급한 Access Token 의 유효성을 검증하고 접근 범위에 따라 적절한 자원을 전달하도록 설정한다.
+ JWT
    - JWT 로 전달되는 토큰을 검증하기 위한 JwtDecoder, BearerTokenAuthenticationFilter, JwtAuthenticationProvider 등의 클래스 모델들을 제공한다 .
    - 자체 검증 프로세스를 지원한다.
+ Opaque
    - 인가서버의 introspection 엔드 포인트로 검증할 수 있는 Opaque 토큰을 지원한다.
    - 실시간으로 토큰의 활성화 여부를 확인할 수 있다.

```groovy
implementation 'org.springframework.boot:spring-boot-starter-oauth2-resource-server'
```

## application.yml
OAuth2ResourceServerProperties(prefix = "spring.security.oauth2.resourceserver“)에 매핑되어 설정이 들어간다.  
```yml
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: # 인가 서버의 위치
          jwk-set-uri: # jwt를 복호화하는데 사용할 public key의 정보를 검색할 수 있는 위치
          public-key-location: # 공개키를 가지고 있는 파일의 위치
          jws-algorithms: # JWT 토큰을 서명하기 위한 알고리즘        
          audiences: # 수신자 위치 
```
위 속성 중에 issuer-uri 또는 jwk-set-uri 한 개는 반드시 필요하고 나머지 속성은 필요시 설정하면 된다.

issuer-uri 프로퍼티를 사용하려면 인가 서버에서 지원하는 엔드포인트는 반드시 아래 셋 중 하나를 지원해야 한다.
+ https://localhost:8080/issuer/.well-known/openid-configuration 
+ https:// localhost:8080/.well-known/openid-configuration/issuer
+ https://localhost:8080/.well-known/oauth-authorization-server/issuer

## AuthenticationEntryPoint
<img width="1269" alt="1" src="https://user-images.githubusercontent.com/68492475/215308933-e56c2ccc-dbc3-4f88-849e-3514a4c82aef.png">

앞선 포스팅에서 언급했듯이 default로는 LoginUrlAuthenticationEntryPoint와 BasicAuthenticationEntryPoint가 지정된다. 하지만 위와 같이 yml에 설정을 주게 되면 BearTokenAuthenticationEntryPoint가 등록되게 된다. 커스텀해서 등록하면 커스텀한 것이 가장 우선이 된다.  

## 자동설정에 의한 초기화 과정
<img width="1265" alt="2" src="https://user-images.githubusercontent.com/68492475/215308936-c54f7d4c-e78d-475f-b459-c97eae008ca7.png">


스프링 부트가 초기화되면 자동 설정 클래스에 의해서 jwt, opaque 설정 클래스가 임포트되면서 여러 설정들이 초기화된다.  


# OAuth 2.0 Resource Server API - jwt()
## jwt api 설정
<img width="1254" alt="3" src="https://user-images.githubusercontent.com/68492475/215308942-c7930747-5a62-4768-9821-2145c6885007.png">

```java
@Configuration
public class OAuth2ResourceServer {

    @Bean
    SecurityFilterChain securityFilterChain(HttpSecurity http) throws Exception {
        http.authorizeRequests((requests) -> requests.anyRequest().authenticated());
        http.oauth2ResourceServer().jwt(); // jwt 토큰을 검증하는 빈들과 클래스들을 생성하고 초기화시킨다.
        // 위와 동일한 코드
//        http.oauth2ResourceServer(OAuth2ResourceServerConfigurer::jwt);
        return http.build();
    }

}
```

## 검증 프로세스
```yml
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: # 인가 서버의 위치
```
+ yml에 issuer-uri 프로퍼티를 설정하면 JWT로 인코딩한 Bearer 토큰을 검증하는 리소스 서버로 자동으로 설정된다.
+ Open ID Connect Provider 설정 엔드포인트 또는 인가 서버 메타데이터 엔드포인트를 검색해서 jwk-set-url 엔드포인트를 찾아 검증을 진행한다
    - issuer-uri는 발행자의 위치이기 때문에 인가 서버에서 정보를 가져와 jwk-set-url을 찾아와 검증을 진행하게 되는 것이다.
    - 처음부터 jwk-set-url을 지정해두면 위 과정 없이 jwk-set-url을 통해 바로 검증을 진행한다.
+ 리소스 서버가 클라이언트로부터 오는 토큰을 검증할 때는 두 가지 검증 전략을 설정한다.
    - 리소스 서버는 인가서버의 jwt-set-uri 엔드포인트로 유효한 공개키 가져와서 검증한다.
    - issuer-uri에 대한 각 JWT 클레임을 검증할 전략을 설정한다.
        - JWT는 여러 클레임이 있는데 일부중 특정 조건에 부합하는지 체크하는 것이다.

## 검증 순서
<img width="1312" alt="4" src="https://user-images.githubusercontent.com/68492475/215308947-09a60fe4-a994-4e57-9a3f-9c5d2b5c2d04.png">

1. 클라이언트가 Authorization Bearer token-value 를 헤더에 담아서 요청한다.
2. 리소스 서버는 요청한 토큰이 Bearer 토큰 사양에 부합하는지 검사한다.
3. 인가서버에서 JWT 토큰에 서명한 개인키와 매칭하는 공개키를 jwk-set-url 엔드포인트 요청으로 가져와서 첫번째 검증을 진행한다.
4. JWT에 있는 exp, nbf, iss 클레임의 정보가 기준에 부합하는지 두번째 검증을 진행한다.
5. 검증에 성공하면 Jwt 객체를 생성하고 claims 정보에 있는 scope 를 추출해서 시큐리티의 권한에 매핑한다 (SCOPE_profile, SCOPE_email)
6. Authentication 객체를 생성하고 Jwt 객체를 principal 속성에는 저장한다.
7. Authentication 를 SecurityContext 에 저장하고 인증을 완료한다.




# JwtDecoder
+ JwtDecoder 는 문자열로 된 JWT(JSON Web Token)를 컴팩트 클레임 표현 형식에서 Jwt 인스턴스로 "디코딩“ 하는 역할을 한다.
+ JwtDecoder 는 JWT 가 JSON 웹 서명(JWS) 구조로 생성된 경우 JWS 서명에 대한 검증의 책임이 있다.
    - JWT는 JWS와 JWE로 만들 수 있는데 보통 JWS로 만든다.
+ 기본 구현체로 NimbusJwtDecoder 가 있다.
+ decode 메서드를 통해 검증에 성공하면 최종적으로 jwt 타입의 인증 객

## 검증 세부 흐름
<img width="1230" alt="5" src="https://user-images.githubusercontent.com/68492475/215308954-6162936d-ada5-4e50-afa8-49c6238edfcd.png">


## 생성 방법
2가지 방법이 존재한다.
```java

// yml에 jwt에 설정한 properties는 OAuth2ResourceServerProperties에 바인딩되므로 주입받을 수 있다.
@Autowired
private OAuth2ResourceServerProperties properties;

// 방법 1
@Bean
public JwtDecoder jwtDecoder() {
    // yml 설정에 작성해둔 issuerUri(인가 서버 위치)를 인자로 넣어주면 
    // 인가서버와 통신하여 인가 서버 메타데이터 중에서 jwk-set-uri 정보를 내부적으로 바인딩하게 되고 
    // jwkDecoder가 실제 검증할 때, uri 정보를 알고 있으므로 인가서버로부터 jwk set 정보를 가져오게 된다.
    return JwtDecoders.fromIssuerLocation(properties.getJwt().getIssuerUri());
}

// 방법 2
@Bean 
public JwtDecoder jwtDecoder() {
    // 기본적으로 스프링 부트에 의해 NimbusJwtDecoder 빈이 자동 생성될 경우 
    // 리소스 서버는 RS256 을 사용한 토큰만 신뢰하고 이 토큰만 검증할 수 있다
    // JwkSetUri 에 의한 검증방식으로 NimbusJwtDecoder 를 생성할 경우 알고리즘의 종류를 변경할 수 있으나 
    // RSA 알고리즘에 한해 변경이 가능하고 HMAC 은 지원하지 않는다
    return NimbusJwtDecoder.withJwkSetUri(properties.getJwt().getJwkSetUri())
        .jwsAlgorithm(SignatureAlgorithm.RS512).build();
}
```
방법1은 인가서버로부터 메타 데이터 정보를 가져와서 jwt-set-uri을 내부적으로 다시 바인딩 하는 과정이 있는 반면에 2번째 방법은 인가서버와 통신 없이 바로 jwt-set-uri을 바인딩 하고 별도의 알고리즘을 지정할 수도 있다.  
방법2에서는 NimbusJwtDecoder 를 빈으로 등록하고 있는데 방법1도 내부적으로 까보면 NimbusJwtDecoder를 사용한다.  
위와 같은 방법으로 별도로 빈을 등록하지 않는다면 `OAuth2ResourceServerConfiguration` 클래스에서 jwtDecoder를 방법1 방식으로 자동으로 빈이 등록한다.  


# JCA (Java Cryptography Architecture) & JCE (Java Cryptography Extention) 
+ 자바는 JCA & JCE 프레임워크 를 통해 자체적인 보안 관련 기능을 제공하고 있으며 전자서명(Digital Signature), 메시지 다이제스트(Message Digest, hashs), 인증서와 인증서 유효성 검사(Certificate Validation), 키 생성 및 관리 그리고 보안 랜덤 수(Secure Random Number) 생성 등 현대 정보 통신 암호 기술 중에서 필수적인 것은 모두 제공하고 있다.
+ JCA & JCE 프레임워크는 프로바이더 보안 구조를 사용하여 보안과 관련한 다양한 API를 제공하고 있다.
+ 프로바이더는 java.security.Provider 클래스의 구현체로 보안 알고리즘 구현체 목록을 포함하고 있고 이를 통해 보안 서비스를 구현할 수 있다. 
+ 예를 들어 특정 알고리즘의 인스턴스가 필요해지면, JCA & JCE 프레임워크는 프로바이더 저장소에서 해당 알고리즘의 적합한 구현체 클래스를 찾아 클래스 인스턴스를 생성하는데 프로바이더를 직접 지정할 수도 있다.

<img width="1273" alt="6" src="https://user-images.githubusercontent.com/68492475/215308960-03de6e84-f13f-42a9-96de-c3329620b0e2.png">


알고리즘 인스턴스를 가져올 때, 프로바이더를 지정하지 않으면 가장 적합한 것으로 제공하고 직접 지정할 수도 있다. 


## MessageDigest

+ 메시지 다이제스트의 목적은 원본 파일이 그대로인지 파악하는 무결성(변조가 되었는지 아닌지) 검사이다. 
+ 메시지 다이제스트 알고리즘은 입력 값으로 전달된 다양한 길이의 원본 값을 고정 길이 해시 값으로 출력한다. 
+ 이 알고리즘은 단방향이기 때문에 해시 값에서 거꾸로 원본 값을 도출할 수 없다. 

<img width="947" alt="7" src="https://user-images.githubusercontent.com/68492475/215308963-df1e8e54-e0c8-4119-b4cc-ad5be1f7e875.png">


1. 갑과 을의 교신 상황에서 갑은 을에게 전달하고자 하는 원본과 그 원본의 메시지 해시 값 그리고 메시지 다이제스트 알고리즘을 보낸다. 
2. 을은 갑이 전달한 알고리즘과 원본을 가지고 메시지 해시 값을 계산한다. 
3. 을이 계산한 메시지 해시 값과 갑이 전달한 메시지 해시 값이 일치하면, 갑이 전달한 원본이 네트워크를 통해 을에게 오기까지 변경되지 않았다는 것을 확인할 수 있다.

## Signature
+ Signature는 초기화 시 제공받은 키를 사용해서 데이터를 서명하고 전자 서명의 유효성을 검증 하는데 사용된다.

<img width="719" alt="8" src="https://user-images.githubusercontent.com/68492475/215308966-e153eecc-0e61-4e2e-8b53-629d28b8c09a.png">


+ 서명
    - Signature 객체는 개인 키로 서명 하기 위해 초기화되고 서명할 원본 데이터가 제공된다. 
    - Signature 의 sign() 은 개인 키로 원본 데이터를 서명하면 해시된 데이터를 암호화한 Signature Bytes 를 반환한다
+ 검증
    - 검증이 필요한 경우 검증을 위해 Signature객체를 생성 및 초기화하고 개인키와 쌍을 이루는 해당 공개 키를 제공한다. 
    - 원본 데이터와 Signature Bytes 가 검증 Signature 객체에 전달되고 verify() 를 실행하면 공개키로 Signature Bytes 의 해시데이터를 추출하고 원본데이터를 해시한 값과 비교해서 일치하면 Signature 객체가 성공을 보고한다.

## 대칭키 암호(symmetric-key algorithm)
+ 암호화 알고리즘의 한 종류로, 암호화와 복호화에 같은 암호 키를 쓰는 알고리즘을 의미한다.
+ 대칭 키 암호에서는 암호화를 하는 측과 복호화를 하는 측이 같은 암호 키를 공유해야 한다. 
+ 비대칭 키 암호에서 공개 키와 비밀 키를 별도로 가지는 것과 구별되며 대부분의 대칭 키 암호는 비대칭 키 암호와 비교하여 계산 속도가 빠르다는 장점을 가진다. 

### MAC(Message Authentication Code) 
<img width="1070" alt="9" src="https://user-images.githubusercontent.com/68492475/215308968-3d90268c-0731-461e-a1af-89f5ff45d4ce.png">

+ 메시지 인증 코드는 데이터가 변조(수정, 삭제, 삽입 등) 되었는지를 검증할 수 있도록 데이터에 덧붙이는 코드
+ 해시 값을 생성한다는 점에서 메시지 다이제스트와 비슷하지만, 초기화 시 비밀키(SecretKey, 대칭키)를 요구한다는 점에서 다르다. 
+ 메시지 다이제스트는 받은 측이 누구든 무결성 검사가 가능하지만, MAC은 오직 동일한 비밀 키를 가진 쪽에서만 전달받은 메시지의 무결성을 검사 할 수 있다. 
+ 암호화 해시 함수(MD5, SHA256 등)를 기반으로 하는 MAC이 잘 알려진 HMAC이다. 
+ HMAC은 메시지 다이제스트 알고리즘과 공유된 비밀 키의 조합으로 가능하며 데이터의 무결성과 기밀성, 송.수신자간 인증을 보증하기 위한 암호화 기법이다.

## 비 대칭키 암호 (asymmetric-key algorithm)
+ 암호화 알고리즘의 한 종류로, 암호화와 복호화에 다른 암호 키를 쓰는 알고리즘을 의미한다.
+ 외부에 절대 노출되어서는 안되는 개인키(Private key)와 공개적으로 개방되어 있는 공개키(Private key)를 쌍으로 이룬 형태이다
    - A의 공개키를 이용하여 암호화된 데이터는 A의 개인키로만 복호화가 가능하다.
    - A의 개인키를 이용하여 암호화된 데이터는 A의 공개키로만 복호화가 가능하다

비 대칭키 암호화 알고리즘에서 가장 대표적인 것이 RSA로 현재 SSL/TLS에 가장 많이 사용되는 공개키 암호화 알고리즘으로 전세계 대부분의 인터넷 뱅킹(대한민국 포함)이 이 RSA-2048 암호화를 사용한다.

<img width="1041" alt="10" src="https://user-images.githubusercontent.com/68492475/215308974-85736a4e-d351-4d0c-b490-1a07d310dd56.png">



## key 생성 모델
<img width="1043" alt="11" src="https://user-images.githubusercontent.com/68492475/215308978-6ce5572f-4269-4a4f-be85-20814debf7cb.png">

+ key
    - JCA에서 지원하는 모든 종류의 키에 대한 최상위 인터페이스
    - Key 인터페이스는 getAlgorithm(), getEncoded(), getFormat() 의 세 가지 메서드를 제공한다
        - getAlgorithm() : 키 알고리즘은 보통 대칭키 암호 방식(AES,DSA 등) 또는 비대칭키 연산 알고리즘(RSA)이다. 
        - getEncoded() : 기본 인코딩된 형식의 키를 반환
        - getFormat() : 이 키의 기본 인코딩 형식의 이름을 반환(표준형식인 X509 또는 PKCS8)
+ KeyPair
    -  키 쌍(공개 키와 개인 키)을 보관하고 접근할 수 있는 기능만 제공한다
+ KeyPairGenerator
    - 공개 및 개인 키 쌍을 생성하는 데 완전히 새로운 객체를 생성한다 
+ KeyFactory
    -  어떤 키 데이터 객체를 다른 타입의 키 데이터 객체로 전환하는데 사용한다
+ Cipher
    - 암호화 및 복호화에 사용되는 암호화 암호의 기능을 제공한다.
    - Cipher 객체 인스턴스화하기
        - 인스턴스 생성 시 변환을 지정하는데 변환은 [암호화 알고리즘/피드백 모드/패딩] or [암호화 알고리즘] 으로 지정한다
        - ```java
            Cipher c1 = Cipher.getInstance("RSA/ECB/OAEPWithSHA1AndMGF1Padding");
            Cipher c1 = Cipher.getInstance("RSA")
        ```
    - 초기화 하기
        - Cipher 객체를 초기화하기 위해서 Cipher의 작동 모드를 나타내는 opmode 와 Key 또는 증명서(Certificate) 를 인자로 전달하고 init() 메서드를 실행한다
        - opmode
            - ENCRYPT_MODE: cipher 객체를 암호화 모드로 초기화한다. 
            - DECRYPT_MODE: cipher 객체를 복호화 모드로 초기화한다
        - ```java
            Cipher cipher = Cipher.getInstance("RSA"); 
            cipher.init(Cipher.ENCRYPT_MODE, PrivateKey);
            ```



# JWT
## JOSE (JSON Object Signing and Encryption) 
<img width="416" alt="12" src="https://user-images.githubusercontent.com/68492475/215308987-a12d26d0-2b5b-4e1a-8933-790d97139859.png">

+ JSON 데이터의 컨텐츠를 암호화 또는 서명의 형태로 나타내기 위해 IETF에서 표준화 한 소프트웨어 기술 세트
+ 기술에는 다음 사양이 포함된다
    - JWT (JSON Web Token, RFC7519)
    - 클레임 기반 보안 값을 나타내는 방법으로 두 당사자 간에 안전하게 전달되는 클레임을 표현하기 위한 개방형 표준
    - JWT는 인증, 권한 부여 및 정보 교환에 사용된다
    - JWS 또는 JWE 방식으로 구현된다
        + JWS (JSON WEB SIGNITURE, RFC 7515) 
            - 일반적은 구현 방식
            - JSON을 사용하여 디지털 서명 또는 MAC으로 보안된 콘텐츠를 표현하는 방법
        + JWE (JSON WEB ENCRYPTION, RFC 7516) 
            - JSON을 사용하여 의도한 수신자만 읽을 수 있도록 암호화된 데이터(토큰)를 나타내는 형식
+ JWK (JSON WEB KEY, RFC 7517) 
    - HMAC 이나 타원 곡선 또는 RSA 알고리즘을 사용하여 공개 키 세트를 JSON 객체로 나타내는 JSON 구조
    - 토큰을 만들 때는 private key로 서명하고 검증하기 위해서는 공개키로 검증하는데 JWK가 공개키 세트다.
+ JWA (JSON WEB ALGORITHM, RFC 7518)
    - JWS, JWK 및 JWE에 필요한 알고리즘 목록으로 JWS 헤더 및 JWS 페이로드의 내용을 서명하는 데 사용된다


## JWS 구조
<img width="1571" alt="13" src="https://user-images.githubusercontent.com/68492475/215308989-9484dec5-4683-40be-8cbc-7730f0ab9619.png">


+ JOSE Header
    - 일반적으로 JWT인 토큰 유형과 HMAC SHA256 또는 RSA 와 같은 서명 알고리즘의 두 부분으로 구성된다.
    - Base64Url 로 인코딩되어 JSON 웹 토큰의 첫 번째 부분을 형성한다
+ Payload (JWT Claim Set)
    - 토큰에 포함할 내용인 클레임을 포함하는 페이로드로서 표준 필드인 7개의 등록 클레임 이름(Registered Claim Names) 및 사용자 지정 클레임 등으로 구성한다
    - Base64Url 로 인코딩되어 JSON 웹 토큰의 두 번째 부분을 형성한다
+ Signiture
    - 서명은 Base64url 인코딩을 이용하여 헤더와 페이로드를 인코딩하고 이 둘을 점(.) 구분자로 함께 연결시킴으로써 계산되어 토큰을 안전하게 확인한다. 


### Claims
+ 클레임(claim) 은 주장하고자 하는 정보를 나타내는 것으로 이 정보를 모두 가지고 있는 바디 부분을 Claim Set 이라고 부른다. 
+ Claim Set은 키 부분인 Claim Name과 값 부분인 Claim Value의 여러 쌍으로 이루어져 있다. 
+ JWT 에는 여러개의 클레임들을 넣을 수 있다

<img width="1251" alt="14" src="https://user-images.githubusercontent.com/68492475/215308995-05778ca0-9822-413f-b5e1-1504ff3e7c13.png">


## JWK 
<img width="1246" alt="15" src="https://user-images.githubusercontent.com/68492475/215308998-26e3eaab-d40b-42c4-82e2-14f8375bb702.png">

+ 암호화 키를 저장하는 방식으로 인가서버에서 발행하는 JWT 토큰의 암호화 및 서명에 필요한 암호화 키의 다양한 정보를 담은 JSON 객체 표준이다.
+ jwkSetUri 정보를 설정하면 인가서버로부터 JWK 형태의 정보를 다운로드할 수 있고 JWT 를 검증할 수 있다.

<br>

<img width="1280" alt="16" src="https://user-images.githubusercontent.com/68492475/215309004-f266400a-3dcc-409b-9499-552f0f109e58.png">

+ JWK 확장
    - 자바 표준 보안 클래스를 사용하여 대칭키, 비대칭키 방식의 JWT 의 암호화 및 전자서명, 이후 검증을 위한 키 생성, 변환 등을 지원한다.
    - 구현체로서 RSAKey, OctetSequenceKey, ECKey, OctetKeyPair 가 있다.

<Br>

<img width="1063" alt="17" src="https://user-images.githubusercontent.com/68492475/215309006-a12e840c-29a5-4559-a081-cde104325cf4.png">


+ JWKGenerator<T extends JWK>
    - 암호화 알고리즘 방식에 따라 JWK 의 구현체가 있고 각 구현체를 편리하게 생성할 수 있는 제너레이터 클래스이다
    - RSAKeyGenerator : 비대칭 암호화 알고리즘 키를 포함하는 JWK 생성기 
    - OctetSequenceKeyGenerator : 대칭 암호화 알고리즘 키를 포함하는 JWK 생성기
    - EcKeyGenerator : 타원곡선 암호화 알고리즘 키 포함하는 JWK 생성기

# OAuth2 MAC & RSA 검증
> 해당 강의 참고

필터로 구현하는 방식, jwtDecoder를 직접 구현하는 방식 등등을 소개하는데, 대부분 마지막에 설명하는 yml에 jwtSetUri을 명시해두고 jwtDecoder가 자동으로 세팅되는 설정을 사용한다.  

## 검증 필터 BearerTokenAuthenticationFilter
<img width="1276" alt="18" src="https://user-images.githubusercontent.com/68492475/215309012-1dae6a56-c384-4bcf-a004-f37c0e3ffd54.png">



## 검증 이후
+ Authentication
    + 리소스 서버에서 토큰 검증이 이루어지면 토큰으로 부터 정보를 추출해서 인증객체를 구성하게 된다
    + 스프링 시큐리티의 자원에 대한 접근은 인증객체의 인증 유무와 권한정보에 따라 결정되기 때문에 인증객체를 생성해야 한다
    + 인증 객체는 `JwtAuthenticationToken` 타입으로 생성되고 SecurityContext 에 저장한다
    + `Jwt 객체는 JwtAuthenticationToken 의 principal 속성에 저장된다`
+ @AuthenticationPrincipal
    - Authentication의 principal 에 저장되어 있는 객체를 바로 참조할 수 있다.

# 리소스 서버 권한 구현

## Scope
<img width="1105" alt="19" src="https://user-images.githubusercontent.com/68492475/215309016-cebf1abd-5458-495a-b3ec-b6373d097e63.png">

+ 클라이언트가 인가서버로 OAuth 2.0 권한 부여 요청을 할 때 사용자의 리소스에 대한 접근 범위를 제한하기 위해 마련해 놓은 장치
+ 클라이언트는 하나 이상의 scope 를 요청할 수 있으며 동의 화면에서 사용자가 scope 를 지정하게 되면 scope 범위에 제한된 토큰이 발행된다.

<br>   

<img width="1266" alt="20" src="https://user-images.githubusercontent.com/68492475/215309020-9d6f60d0-e010-4fb5-bab1-eb8f7bee4e98.png">


+ 권한 부여 요청시 인가서버에 지정했던 scope 가 리소스 서버의 권한 범위에 포함하지 않으면 접근이 거부된다
+ 권한 부여 요청시 인가서버에 지정했던 scope 가 리소스 서버의 권한 범위에 포함되면 접근이 허용된다

<br>   

<img width="1284" alt="21" src="https://user-images.githubusercontent.com/68492475/215309027-66e2ba3e-9a37-431f-b9d7-df01085c33e6.png">


+ 리소스 서버는 Access Token 으로부터 Jwt 객체를 추출하고 클레임의 Scope 값을 `JwtAuthenticationConverter` 를 사용하여 GrantedAuthority 타입으로 변환한다.
+ 리소스 서버는 각 스코프에 `SCOPE_` 프리픽스를 달아 승인된 권한 리스트를 만든다. 프리픽스를 커스터마이징이 가능하다.
+ JWT의 scope로 특정 엔드포인트나 메소드를 보호하려면, 프리픽스를 포함한 적절한 표현식을 사용해야 한다.

## JwtAuthenticationConverter
+ 인가 서버가 scope 속성 대신 자체 커스텀 속성을 사용하거나 리소스 서버에서 속성을 내부 권한에 맞게 조정해야 할 경우 사용한다
+ JwtAuthenticationConverter 는 Jwt 객체를 Authentication 으로 변환하는 클래스이며 권한을 변환하는 JwtGrantedAuthoritiesConverter 를 가지고 있다.


```java
// custom converter 정의
public class CustomRoleConverter implements Converter<Jwt, Collection<GrantedAuthority>> {

    @Override
    public Collection<GrantedAuthority> convert(final Jwt jwt) {

        String scopes = (String)jwt.getClaims().get("scope");

        if (scopes == null || scopes.isEmpty()) {
            return new ArrayList<>();
        }

        return Arrays.stream(scopes.split(" ")).map(roleName -> "ROLE_" + roleName)
                .map(SimpleGrantedAuthority::new)
                .collect(Collectors.toList());
    }
}
```
```java
@Configuration
public class OAuth2ResourceServer {

    @Bean
    SecurityFilterChain securityFilterChain(HttpSecurity http) throws Exception {

        // 이외 보안 설정 생략.

        JwtAuthenticationConverter jwtAuthenticationConverter = new JwtAuthenticationConverter();
        jwtAuthenticationConverter.setJwtGrantedAuthoritiesConverter(new CustomRoleConverter());
        http.oauth2ResourceServer().jwt().jwtAuthenticationConverter(jwtAuthenticationConverter);
        return http.build();
    }
}
```

# opaque
> 강의 참고
